<style>
    .pageActive {
        background-color: greenyellow !important;
    }

</style>
<section class="content-header">
    <h1>
        DTU连接状态统计
        <small>DTU connections</small>
    </h1>
</section>

<section class="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">DTU Data</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="dataTables_length" id="example1_length">
                                    <label>每页
                                        <select name="example1_length" aria-controls="example1"
                                                class="form-control input-sm" ng-change="changePerPage(x)" ng-model="x">
                                            <option value="10" ng-selected="perPageCount == 10">10</option>
                                            <option value="25" ng-selected="perPageCount == 25">25</option>
                                            <option value="50" ng-selected="perPageCount == 50">50</option>
                                            <option value="100" ng-selected="perPageCount == 100">100</option>
                                        </select>
                                        &nbsp;条记录</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div id="example1_filter" class="dataTables_filter pull-right">
                                    <label>搜索:<input type="search" class="form-control input-sm" placeholder=""></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>IMEI</th>
                                        <th>IP</th>
                                        <th>上行流量</th>
                                        <th>下行流量</th>
                                        <th>状态</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in rowData">
                                        <td class="center">{{row.iMEI}}</td>
                                        <td class="center">{{row.iP}}</td>
                                        <td class="center">{{row.down}}</td>
                                        <td class="center">{{row.up}}</td>
                                        <td class="center"><span class="label label-success">正常</span></td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="dataTables_info " role="status" aria-live="polite">
                                    {{rowsCount}}条记录&nbsp 共{{pageCount}}页
                                </div>
                            </div>
                            <div class="col-sm-7">
                                <div class="dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination pull-right no-margin ">

                                        <li ng-show="currentPage>1" class="paginate_button previous ">
                                            <a href="" ng-click="changePage(currentPage-1)">前一页</a>
                                        </li>
                                        <li ng-repeat="pageBtn in listBtn" class="paginate_button"><a
                                                ng-class="{'pageActive':pageBtn==currentPage}" href=""
                                                ng-click="changePage(pageBtn)">{{pageBtn}}</a>
                                        </li>
                                        <li ng-show="currentPage<pageCount" class="paginate_button next ">
                                            <a href="" ng-click="changePage(currentPage+1)">后一页</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
        <!-- /.row -->
    </div>

</section>
